HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### IntelliJ IDEA ###
.idea/*
!.idea/scopes/
!.idea/fileColors.xml
#!.idea/workspace.xml


### VS Code ###
.vscode/

### Hoffi ###
*.log
logback.out.xml
*.out
*.bak
*.backup
/*.zip
/*.gz
/*.tgz
.springBeans
/spring_loaded/**
*.DS_Store
.Trashes
/*.hprof
backup/*
/generated/
**/generated/*
